.color-wheel-container {
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  border-radius: 50%;
  position: relative;
  border: 2px solid rgb(210, 200, 200); /* Add a border for the circular container */
  overflow: hidden; /* Hide any overflow to keep it circular */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: white; /* Optional background color for the container */
}

.color-segment {
  width: 33.33%; /* Adjust the width as a percentage of the container */
  height: 33.33%; /* Adjust the height as a percentage of the container */
  border-radius: 50%; /* Make each color segment circular */
  position: relative; /* Ensure proper positioning */
}


/* Define the colors for the segments */
.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

.brown {
  background-color: brown;
}

.orange {
  background-color: orange;
}

.grey {
  background-color: grey;
}

.aqua {
  background-color: aqua;
}

.white {
  background-color: whitesmoke;
}