.pie {
  width: 300px;
}

.pie circle {
  fill: none;
  stroke-width: 32;
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.jumping > div {
  animation: jumping 1s infinite;
}

.jumping > div:nth-child(1) {
  animation-delay: 0.1s;
}
.jumping > div:nth-child(2) {
  animation-delay: 0.2s;
}
.jumping > div:nth-child(3) {
  animation-delay: 0.3s;
}
.jumping > div:nth-child(4) {
  animation-delay: 0.4s;
}
.jumping > div:nth-child(5) {
  animation-delay: 0.5s;
}

.red {
  background-color: #c62128;
  background-image: linear-gradient(147deg, #c62128 0%, #a00000 74%);
}

.green {
  background-color: #008001;
  background-image: linear-gradient(315deg, #008001 0%, #1dad2e 74%);
}

.yellow {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.orange {
  background-color: #f42b03;
  background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%);
}

.skyblue {
  background-color: #fefefe;
  background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
}

.blue {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.gray {
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
}

.black {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
